.post-show{
    font-family: "Lora", Georgia, serif;
    font-size: 20px;
    line-height: 1.7;
    font-weight: 300;
    
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid #efefef;
    padding: 1.5em;
    margin-bottom: 1.6em;

}
.p{
  margin: 0 0 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
 .hero-avatar {
      margin-right: 20px;
    }
 .hero-title {
      font-size: 28px;
     
    padding: 1.5em;
    margin-bottom: 1.6em;

    }