<h1>Perfil de  <%= @user.name %></h1>


<%= avatar_for(@user) %>

<% if user_signed_in? %>
<%= link_to "Edit", edit_user_path(@user), class: 'button green-border-button pull-left edit-button' %>
<% end %>