<div class="Categorías-box">
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
  <div class="grid-item">

  <% @categories.each do |category|%>

		<button class="btn1">

			<%= link_to category.name, category_path(category)%>

		</button>

  <%end%>	 
  </div>

</div> 

</div>	