<div class="row" data-animation="fadeInUp-fadeOutDown">
  <div id="main-post" class="col-xs-10 col-md-8 col-md-offset-2 col-xs-offset-1 main-content">
<h1>The Fitness </h1>
<div class="Post_panel">
  
<%= render @posts %>
</div>
</div>
</div>
