 * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }
.button {
  
  padding: 0.5em 1.5em !important;
  border-radius: 20px;
  border: 2px solid #6f5499;
  background-color: #0a0a0a;
  }
.button:hover{
 border: 2px solid #db1ffb;
 color: #FFF;
}