.hero-wrapper{
	
}

.avatar-imagen2{
        border-radius: 50%;
    display: grid;
    padding: 20px;
    justify-content: center;
}

.stats{
    margin:10px;
    margin-top: 10px; 
	text-align: center;
}

.profile-info{
   margin:10px;
    margin-top: 10px; 
	text-align: center;
	
}

.description{

   height: 150px;
}