
.new_blog_botton
.avatar_botton {
	    margin-top: 8px;
		margin-right: 8px;
		margin-left: 8px;
}

.new_blog_botton{
	margin-right: 8px;
	    margin-left: 8px;

	
}

.avatar_botton > a {
	padding: 0 !important;
		margin-top: 10px;
}

.button {
margin-top: 10px;
}

input#search_q.search_qq {
	 border-radius: 50px;
	 border: 1px solid #6f5499;
}

.main-searchbar{
	
margin-top: 12px;
margin-right: 8px;
		margin-left: 8px;
}

.buttone{
	    border-radius: 50px;
	    margin-bottom: 10px;
	    margin-right: 4px;
		margin-left: 4px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

