
 * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

.imagen-image {


    height: auto;
    box-sizing: border-box;
    vertical-align: middle;
    background-attachment: fixed;
   border-radius: 15px;   
}