
.main-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px;
  justify-content: center;
  
}
.post_panel {

	border: 5px solid #efefef;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 1.6em;
	max-width: 200px;
	background: #f2f2f2;
	  justify-content: center;

}
.post_panel_imagen {

	display: grid;
}
.uk-grid-divider:empty {
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 4px solid #ddd;
}


.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}