 * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
.main-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px;
  justify-content: center;
  max-width: 100%;


}
.main-container-boton{

 background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  }


.post_panel {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.22);
	border: 5px solid #efefef;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 1.6em;
	max-width: 200px;
	background: #f2f2f2;
	justify-content: center;

}

.post-title{

  color: #bd1e23 !important;
  font-weight: bold;
}

.post_panel_imagen {

	display: grid;
}
.uk-grid-divider:empty {
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 4px solid #ddd;
}


.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#pins{

  margin: 0 auto;


}

.tags{

  margin: 0 auto;


}

 .pin{
     margin: 10px;
     width: 350px;
     box-shadow: 0 1px 4px 0 rgba(0,0,0,0.22);
     border-radius: 7px;
     text-align: center;
  }
.post-title{

  font-size: 20px;
  font-weight: 100;
  margin: 0;

  a {
    color: #474747;
  }
}

.user{

  font-size: 12px;
  border-top: 1px solid #eaeaea;
}

.container-new{
  margin: 50px;
  justify-content: center;
  max-width: 100%;
  border-radius: 15px;
    border: 5px solid #efefef;

}

.form-group{
  font-size: 20px;
  font-weight: 100;
}

.uk-h2.uk-margin-top-remove {  
    background: #f3f5f9;
    text-align: center;
    color: #313449!important;
    font-size: 12px;
    font-weight: 700;
    font-family: open sans condensed,sans-serif;
    text-transform: uppercase;
    line-height: 48px;
    margin-bottom: 0;
  }
