 <div class="bottom-nav fixed-bottom">
      <ul class="nav">
        <li><a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a></li>
     
      </ul>
   </div>
    <!-- <footer class="footer">
    <div class="container">
        <ul class="nav">
          
        </ul>
    </div>
     
</footer>  -->