 <div class="botton-nav fixed-botton">
      <ul class="nav">
        <li><a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a></li>
     
      </ul>
   </div>
     <footer class="footer">
    <div class="container">
        <ul class="nav">

          <a href="https://www.twitter.com/kasnino" target="_blank"><span class="glyphicon glyphicon-search"></span></a> 

          <a href="https://www.twitter.com/kasnino" target="_blank"><span class="glyphicon glyphicon-search"></span></a> 

          <a href="https://www.twitter.com/kasnino" target="_blank"><span class="glyphicon glyphicon-search"></span></a>     
         
        </ul>

           <span class="copyright">&copy; Derechos reservados &nbsp;&bull;&nbsp;Medellin - Colombia
            </span>
      
    </div>
     
</footer> 