<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" >
    <div class="item active">
      <div class="img"><img class="d-block img-fluid" src="https://www.w3schools.com/bootstrap/ny.jpg" alt="First slide" style="width:100%;""></div>
    </div>
    <div class="item">
      <div class="img"><img class="d-block img-fluid" src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="Second slide" style="width:100%;"></div>
    </div>
    <div class="item">
      <div class="img"><img class="d-block img-fluid" src="https://www.w3schools.com/bootstrap/newyork.jpg" alt="Third slide" style="width:100%;"></div>
    </div>
  </div>
 <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only sr-only-focusable">Previous</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only sr-only-focusable">Next</span>
    </a>
</div>
</div>